@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Bold-webfont.woff);
    font-weight: bold;
}

:root {
    --size: 4;
    --board-size: 0.85;
    
    --color0: tomato;
    --color1: orange;
    --color2: gold;
    --color3: limegreen;
    --color4: deepskyblue;
    --color5: mediumpurple;
    --color6: darkgoldenrod;
    --color7: silver;
    --color8: darkslategray;
    --color9: whitesmoke; 
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    opacity: 0;
    transition: opacity 2s ease;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 21.8vw;
    margin-top: 0;
}

.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(var(--size), minmax(25%, 1fr));
    padding: 1px;
    border: 10px solid darkgray;
    background-color: #e9e9e9;
    width: var(--board-size);
    height: var(--board-size);
    margin: auto;
}

.cell {
    position: relative;
    margin: 1px;
    opacity: 0;
    height:  calc(var(--board-size) / var(--size) - 2px);
    width: calc(var(--board-size) / var(--size) - 2px);
}

.tile {
    position: absolute;
    border-style: solid;
    border-width: calc(var(--board-size) / calc(var(--size) * 2) - 1px);
    height: 0;
    width: 0;
}

.win-board {
    padding: 0;
    width: var(--board-size);
    height: var(--board-size);
    border-width: 11px;
    transition: padding 0.1s, width 0.1s, height 0.1s, border 0.1s;
}

.win-tile {
    margin: -2px;
    border-width: calc(var(--board-size) / calc(var(--size) * 2));
    transition: margin 0.1s, border 0.1s;
}

.move {
    z-index: 100;
}

.swap {
    transition: all 0.2s linear;
    z-index: 50;
}

.designed {
    position: relative;
    text-align: center;
    align-self: auto;
    color: white;
    font-size: 0.43em; 
    margin-top: -1.3em;
}

.tile:hover {
      cursor: pointer;
}

@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
    }

    h1 {
        font-size: 6.55em;
    }

    .board {
        padding: 2px;
        border: 15px solid darkgray;
        width: var(--board-size-big);
        height: var(--board-size-big);
    }

    .cell {
        width: 96px;
        height: 96px;
        margin: 2px;
    }

    .tile {
        border-width: 48px;
    }

    .designed {
        font-size: 0.85em; 
        margin-top: -1.3em;
    }

    .win-board {
        padding: 0;
        width: var(--board-size-big);
        height: var(--board-size-big);
        border-width: 17px;
    }

    .win-tile {
        margin: -4px;
        border-width: calc(var(--board-size-big) / calc(var(--size) * 2));
    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
 